[defaults]
# nocows = True
roles_path = ./roles
become = True
host_key_checking = False
deprecation_warnings = False
private_key_file = ~/.ssh/rke2
remote_user = rke2

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=13 -o IdentitiesOnly=yes 
pipelining = False