apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: main-pool
spec:
  blocks:
  - start: {{ rke2_cilium_ip_pool_start }}
    stop: {{ rke2_cilium_ip_pool_stop }}
  disabled: false