write-kubeconfig-mode: "0644"
# profile: "cis-1.5"
selinux: false
# add ips/hostname of hosts and loadbalancer
tls-sans:
  - "{{ rke2_cluster_name }}.smigula.internal"
  - "{{ rke2_server_address }}"
etcd-disable-snapshots: true
etcd-expose-metrics: true
disable:
  - rke2-canal
  - rke2-kube-proxy
  - rke2-ingress-nginx
network:
  plugin: none
disable-kube-proxy: true
disable-cloud-controller: true
cluster-cidr: {{ rke2_cluster_cidr }}
service-cidr: {{ rke2_service_cidr }}
#node-taint: 
#  - CriticalAddonsOnly=true:NoExecute